$color-overlay-1: rgba(white, 5%);
$color-overlay-2: rgba(white, 10%);

.disconnect {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background: $color-overlay-1;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $color-overlay-2;
  }
}
